In [7]:
mylist =  ["banana" , "cherry" , "apple"]
print(mylist)

['banana', 'cherry', 'apple']

In [8]:
mylist2 = ["apple" , True , 23]
print(mylist2)

['apple', True, 23]

In [9]:
for i in mylist:
    print(i)

banana
cherry
apple

In [10]:
if "apple" in mylist:
    print("yes")
else:
    print("No")

yes

In [11]:
mylist = [4 ,3 , 1 ,-1 , -5 ,10]
print(mylist)
new_list = sorted(mylist)
print(mylist)
print(new_list)

[4, 3, 1, -1, -5, 10]
[4, 3, 1, -1, -5, 10]
[-5, -1, 1, 3, 4, 10]

In [12]:
mylist = [0] * 5
print(mylist)

[0, 0, 0, 0, 0]

In [13]:
mylist2 = [1 , 2 ,3 , 4 , 5]
new_list = mylist + mylist2
print(new_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [14]:
#list comprhenssion
mylist = [1 , 2, 3, 4, 5, 6]
b = [i*i for i in mylist]
print(mylist)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [15]:
#tuple
mytuple = ("Max" , 28 , "Boston")
print(mytuple)

('Max', 28, 'Boston')

In [16]:
#important
mytuple = ("max")#this is actually a string
print(type(mytuple))

<class 'str'>

In [17]:
mytuple = ("max",)#this is actually is a tuple
print(type(mytuple))

<class 'tuple'>

In [18]:
mytuple = tuple(["Max" , 28 , "Boston"])
print(mytuple)

('Max', 28, 'Boston')

In [19]:
for i in mytuple:
    print(i)

Max
28
Boston

In [20]:
if "Max" in mytuple:
    print("Yes")
else:
    print("No")

Yes

In [21]:
mytuple = (0 , 1, 2, 3, 4)
i1 , *i2 , i3 = mytuple
print(i1)
print(i2)
print(i3)

0
[1, 2, 3]
4

In [22]:
import sys
mylist = [0 , 1, 2, "hello" , True]
my_tuple = (0 , 1, 2, "hello" , True)
print(sys.getsizeof(mylist) , "bytes")
print(sys.getsizeof(my_tuple) ,"bytes" )

96 bytes
80 bytes

In [23]:
import timeit
print(timeit.timeit(stmt="[0 , 1, 2, 3, 4, 5]" ,number= 1000000))
print(timeit.timeit(stmt="(0 , 1, 2, 3, 4, 5)" ,number= 1000000))

0.0513836999999997
0.0071147999999991995

In [24]:
#dictionary: Key-value pairs , Unordered , Mutable
my_dict = {"name": "Max",
          "age": 28,
          "city":"New York"}
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [25]:
my_dict = dict(name = "Max" , age = 28 , city= "New York")
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [26]:
my_dict["email"] = "max@xyz.com"
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [27]:
del my_dict["name"]
print(my_dict)

{'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [28]:
my_dict.popitem()
print(my_dict)

{'age': 28, 'city': 'New York'}

In [29]:
my_dict = dict(name = "Max" , age = 28 , city= "New York")
if "name" in my_dict:
    print(my_dict["name"])

Max

In [30]:
try:
    print(my_dict["lastname"])
except:
    print("Error")

Error

In [31]:
for i in my_dict:
    print(i)

name
age
city

In [32]:
#for values
for i in my_dict.values():
    print(i)

Max
28
New York

In [33]:
#for both
for key , values in my_dict.items():
    print(key , ":" ,values)

name : Max
age : 28
city : New York

In [34]:
my_dict = dict(name = "Max" , age = 28 , city= "New York")
print(my_dict)
my_dict_cpy = my_dict
my_dict_cpy["email"] = "max@123.com"
print(my_dict_cpy)
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@123.com'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@123.com'}

In [35]:
#originol wouldn't get affected
my_dict = dict(name = "Max" , age = 28 , city= "New York")
print(my_dict)
my_dict_cpy = my_dict.copy()
my_dict_cpy["email"] = "max@123.com"
print(my_dict_cpy)
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@123.com'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

In [36]:
#originol wouldn't get affected
my_dict = dict(name = "Max" , age = 28 , city= "New York")
print(my_dict)
my_dict_cpy = dict(my_dict)
my_dict_cpy["email"] = "max@123.com"
print(my_dict_cpy)
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@123.com'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

In [37]:
#update method for merging two dictionaries
#get overwritten
#non existing key gets added
mydict = {'name': 'Max', 'age': 28,  'email': 'max@123.com'}
my_dict_2  = dict(name= "Mary" , age= 27 , city= "Boston")
mydict.update(my_dict_2)
print(mydict)

{'name': 'Mary', 'age': 27, 'email': 'max@123.com', 'city': 'Boston'}

In [38]:
my_dict = {3 :9 , 6:36 ,9:81}
print(my_dict)
value = my_dict[3]#value to be excessed by key not by index
print(value)

{3: 9, 6: 36, 9: 81}
9

In [39]:
mytuple = (8, 7)
mydict = {mytuple:15}
print(mydict)

{(8, 7): 15}

In [40]:
#sets : unordered , mutable , no duplicates
myset = {1 , 2, 3}
print(myset)

{1, 2, 3}

In [41]:
myset = set("Hello")
print(myset)

{'H', 'e', 'o', 'l'}

In [42]:
#for Empty set
myset = {}
print(type(myset))
myset = set()
print(type(myset))

<class 'dict'>
<class 'set'>

In [43]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset.remove(3)
print(myset)

{1, 2}

In [44]:
for i in myset:
    print(i)

1
2

In [45]:
if 2 in myset:
    print("Yes")

Yes

In [46]:
odds = {1, 3, 5, 7, 9}
evens = {0 , 2, 4, 6, 8}
primes = {2, 3, 5, 7}
u = odds.union(evens)
print(u)
i = odds.intersection(evens)
print(i)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

In [47]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

diff = setA.difference(setB)
print(diff)

{4, 5, 6, 7, 8, 9}

In [48]:
diff = setB.symmetric_difference(setA)
print(diff)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [49]:
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [50]:
setA = {1 , 2, 3, 4, 5 , 6}
setB = {1 , 2, 3}
setC = {4 , 5, 6}
print(setB.issubset(setA))
print(setB.issuperset(setA))
print(setA.isdisjoint(setB))
print(setB.isdisjoint(setC))

True
False
False
True

In [51]:
#string: ordered , immutable , text reprentation
my_string = "Hello World"
char = my_string[0] 
print(char)
substring = my_string[1:5]
print(substring)

H
ello

In [52]:
my_list = ["a"] * 6
print(my_list)

['a', 'a', 'a', 'a', 'a', 'a']

In [53]:
#bad method
#takes more time
my_string = ''
for i in my_list:
    my_string += i
print(my_string)

aaaaaa

In [54]:
#good method
#takes less time
my_string = ''.join(my_list)
print(my_string)

aaaaaa

In [55]:
my_string = 'how are you doing'
my_list = my_string.split()
print(my_list)

['how', 'are', 'you', 'doing']

In [56]:
new_string = ' '.join(my_list)
print(new_string)

how are you doing

In [57]:
var = 3.1234
var2 = 6
my_string = "the variable is {:.2f} and {}" .format(var , var2)
print(my_string)

the variable is 3.12 and 6

In [58]:
#f string
my_string = f"the variable is {var*2} and {var2}"
print(my_string)

the variable is 6.2468 and 6

In [59]:
#collection: Counter , namedtuple ,orderedDict , defaultdict , deque
from collections import Counter
a = "aaaaaaabbbccc"
my_counter = Counter(a)
print(my_counter)
print(my_counter.most_common(1)[0][0])
print(list(my_counter.elements()))

Counter({'a': 7, 'b': 3, 'c': 3})
a
['a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c']

In [60]:
from collections import namedtuple
Point = namedtuple('Point' , 'x , y')
pt = Point(1 , -4)
print(pt)
#for excessing
print(pt.x , pt.y)

Point(x=1, y=-4)
1 -4

In [61]:
from collections import OrderedDict
ordered_dict = OrderedDict()
ordered_dict['a'] = 1
ordered_dict['b'] = 2
ordered_dict['c'] = 3
ordered_dict['d'] = 4
ordered_dict['e'] = 5
print(ordered_dict)

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [68]:
from collections import defaultdict
d = defaultdict(int)
d['a'] = 1
d['b'] =2
print(d['a'])

1

In [77]:
from collections import deque
d = deque()
d.append(1)
d.append(2)

d.appendleft(3)
print(d)
d.pop()
print(d)
d.popleft()
print(d)
d.extend([4 , 5, 6])
d.extendleft([4 , 5, 6])
print(d)
d.rotate(1)
print(d)

deque([3, 1, 2])
deque([3, 1])
deque([1])
deque([6, 5, 4, 1, 4, 5, 6])
deque([6, 6, 5, 4, 1, 4, 5])

In [3]:
#itertools: product , permutations , ombinations , accumulate , groupby , and infinite iterators
from itertools import product
a  = [ 1 ,2 ]
b = [3 ]
prod = product(a , b , repeat=2)
print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [9]:
from itertools import permutations
a = [ 1 , 2 , 3]

perm = permutations(a , 2)

print(list(perm))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [11]:
from itertools import combinations , combinations_with_replacement
a = [ 1 , 2, 3, 4]
comb = combinations(a , 2)

print(list(comb))

comb_wr = combinations_with_replacement(a , 2)
print(list(comb_wr))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [12]:
from itertools import accumulate
a = [1 , 2, 3, 4]
acc = accumulate(a)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]

In [14]:
from itertools import accumulate
import operator
a = [1 , 2, 3, 4]
acc = accumulate(a , func=operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [15]:
from itertools import accumulate
import operator
a = [1 , 2, 5 , 3, 4]
acc = accumulate(a , func=max)
print(a)
print(list(acc))

[1, 2, 5, 3, 4]
[1, 2, 5, 5, 5]

In [16]:
from itertools import groupby

def smaller_than_3(x):
    return x < 3
a = [1, 2, 3, 4]
group_obj = groupby(a , key=smaller_than_3)
print(group_obj)
for key , value in group_obj:
    print(key , list(value))

<itertools.groupby object at 0x000002C186197400>
True [1, 2]
False [3, 4]

In [17]:
#by lambda function 
from itertools import groupby
a = [1, 2, 3, 4]
group_obj = groupby(a , key=lambda x : x <3)
print(group_obj)
for key , value in group_obj:
    print(key , list(value))

<itertools.groupby object at 0x000002C1FF2A11D0>
True [1, 2]
False [3, 4]

In [20]:
from itertools import groupby

person = [{"name" : "Tim" , "age" : 25} , {"name" : "Dan" , "age" : 25} ,
         {"name" : "Lisa" , "age" : 27} , {"name" : "Claire" , "age" : 20}]
group_obj = groupby(person , key=lambda person: person['age'])
print(group_obj)
for key , value in group_obj:
    print(key , list(value))

<itertools.groupby object at 0x000002C185ECF4A0>
25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
20 [{'name': 'Claire', 'age': 20}]