### Numpy 

### working with numerical data.

#### ex formula 
###### yield_of_apples = w1 * tempreture + w2  * rainfall +  w3 *humidity

In [107]:
w1 ,w2,w3 =0.3, 0.2, 0.5

## Given some data

####   region | Temp(F)| Rainfall(mm) | Humidity(%)
####   kanto  |  73         |    67              |      43
####    johto  |  91         |    88              |      64
#### Hoenn  |  87         |   137             |      58
####  sinnoh |  102       |    43              |      37
#### Unova  |  69         |    96              |      70

In [108]:
kanto_temp = 73
kanto_rainfall =67
kanto_humidity = 43

In [109]:
kanto_yield_apple = kanto_temp * w1 +kanto_rainfall * w2 + kanto_humidity * w3

In [110]:
print("The expected yield of apple in kanto reqion is {} tons per hectare " .format(kanto_yield_apple))

The expected yield of apple in kanto reqion is 56.8 tons per hectare

In [111]:
kanto = [73 , 67 , 43]
johto = [91 , 88 , 64]
hoenn = [87 , 134, 58]
sinnoh = [102, 43, 37]
unova = [69, 96, 70]

### The  three numbers in each vector represents the temprature, rainfall and humidity data respectively. The set of weight can be reptesented as

In [112]:
weights = [w1 , w2 ,w3]

### function crop_yield

In [113]:
kanto

[73, 67, 43]

In [114]:
weights

[0.3, 0.2, 0.5]

In [115]:
for x ,w in zip(kanto , weights):
    print(x)
    print(w)

73
0.3
67
0.2
43
0.5

In [116]:
def crop_yield(region , weights):
    result = 0
    for x , w in zip(region , weights):
        
        result += x * w
    return result

In [117]:
crop_yield(kanto , weights)

56.8

In [118]:
crop_yield(johto , weights)

76.9

In [119]:
crop_yield(unova , weights)

74.9

### Going from Python list to numpy arrays

#### The calculation performed by the crop_yield(element-wise multiplication of two vectors, and taking a sum of the result) is also called the dot product of the two vectors.

In [120]:
import numpy as np

#### Numpy arrays can be created using the np.array function.

In [121]:
kanto = np.array([73 , 67, 43])

In [122]:
kanto

array([73, 67, 43])

In [123]:
weights = np.array([w1,w2,w3])

In [124]:
weights

array([0.3, 0.2, 0.5])

In [125]:
type(kanto)

numpy.ndarray

In [126]:
type(weights)

numpy.ndarray

### just like lists, Numpy arrays support the indexing notation [  ]

In [127]:
weights[0]

0.3

In [128]:
kanto[2]

43

#### operation on Numpy arrays

##### We can compute the dot product of the two vectors using the np.dot function

In [129]:
help(np.dot)

Help on function dot in module numpy:

dot(...)
    dot(a, b, out=None)

    Dot product of two arrays. Specifically,

    - If both `a` and `b` are 1-D arrays, it is inner product of vectors
      (without complex conjugation).

    - If both `a` and `b` are 2-D arrays, it is matrix multiplication,
      but using :func:`matmul` or ``a @ b`` is preferred.

    - If either `a` or `b` is 0-D (scalar), it is equivalent to :func:`multiply`
      and using ``numpy.multiply(a, b)`` or ``a * b`` is preferred.

    - If `a` is an N-D array and `b` is a 1-D array, it is a sum product over
      the last axis of `a` and `b`.

    - If `a` is an N-D array and `b` is an M-D array (where ``M>=2``), it is a
      sum product over the last axis of `a` and the second-to-last axis of `b`::

        dot(a, b)[i,j,k,m] = sum(a[i,j,:] * b[k,:,m])

    Parameters
    ----------
    a : array_like
        First argument.
    b : array_like
        Second argument.
    out : ndarray, optional
        Output argument. This must have the exact kind that would be returned
        if it was not used. In particular, it must have the right type, must be
        C-contiguous, and its dtype must be the dtype that would be returned
        for `dot(a,b)`. This is a performance feature. Therefore, if these
        conditions are not met, an exception is raised, instead of attempting
        to be flexible.

    Returns
    -------
    output : ndarray
        Returns the dot product of `a` and `b`.  If `a` and `b` are both
        scalars or both 1-D arrays then a scalar is returned; otherwise
        an array is returned.
        If `out` is given, then it is returned.

    Raises
    ------
    ValueError
        If the last dimension of `a` is not the same size as
        the second-to-last dimension of `b`.

    See Also
    --------
    vdot : Complex-conjugating dot product.
    tensordot : Sum products over arbitrary axes.
    einsum : Einstein summation convention.
    matmul : '@' operator as method with out parameter.

    Examples
    --------
    >>> np.dot(3, 4)
    12

    Neither argument is complex-conjugated:

    >>> np.dot([2j, 3j], [2j, 3j])
    (-13+0j)

    For 2-D arrays it is the matrix product:

    >>> a = [[1, 0], [0, 1]]
    >>> b = [[4, 1], [2, 2]]
    >>> np.dot(a, b)
    array([[4, 1],
           [2, 2]])

    >>> a = np.arange(3*4*5*6).reshape((3,4,5,6))
    >>> b = np.arange(3*4*5*6)[::-1].reshape((5,4,6,3))
    >>> np.dot(a, b)[2,3,2,1,2,2]
    499128
    >>> sum(a[2,3,2,:] * b[1,2,:,2])
    499128

In [130]:
np.dot(kanto , weights)

56.8

In [131]:
kanto

array([73, 67, 43])

In [132]:
weights

array([0.3, 0.2, 0.5])

In [133]:
kanto * weights

array([21.9, 13.4, 21.5])

In [134]:
(kanto * weights).sum()

56.8

 #### The * operator performs an element-wise multiplication of two arrays(assuming they have the same size) . and the sum method calculates the sum of numbers in an array.

In [135]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])

In [136]:
arr1 * arr2

array([ 4, 10, 18])

In [137]:
arr2.sum()

15

## Benifites of using Numpy arrays 
### . Ease of use: You can write small,concise and intutive mathematical expression like (kanto . weights) .sum( ) rather than using loops and custom functions like crop_yield.

### performances:Numpy operation and function are implemented internally in c++, which makes them much faster than using python loops vs Numpy arrays.

In [138]:
# Python lists 

arr1 = list(range(1000000))
arr2 = list(range(1000000 , 2000000))
# Numpy arrays
arr1_np = np.array(arr1)
arr2_np = np.array(arr2)

In [139]:
%%time
result = 0
for x1 , x2 in zip(arr1 , arr2):
    result  += x1 * x2
result

Wall time: 301 ms

833332333333500000

In [140]:
%%time
np.dot(arr1_np , arr2_np)

Wall time: 977 µs

-1942957984

### Multi-dimentional numpy arrays

#### we can now go one step further, and represent the cllimate data for all the reigons togather using a single 2-dimentional Numpy array.

In [141]:
climate_data = np.array([[73,67,43],
                       [91,88,64],
                       [102,43,37],
                       [69,96,70]])

In [142]:
climate_data

array([[ 73,  67,  43],
       [ 91,  88,  64],
       [102,  43,  37],
       [ 69,  96,  70]])

In [143]:
# 2d array(matrix)
climate_data.shape

(4, 3)

In [144]:
weights

array([0.3, 0.2, 0.5])

In [145]:
# 1d array(vector)
weights.shape

(3,)

In [146]:
#3d array
arr3 = np.array([
    [[11,12,13],
     [13,14,15,]],
     
    [[15,16,17],
     [17,18,19.5]]])

In [147]:
arr3.shape

(2, 2, 3)

#### data type of an array using the .dtype property

In [148]:
weights.dtype

dtype('float64')

In [149]:
climate_data.dtype

dtype('int32')

#### if an array contains even a single floating point numbers, all the other elements are also converted to floats.

In [150]:
arr3.dtype

dtype('float64')

single matrix multiplication .Here's what it looks like visually:
![matrix](https://www.mathwarehouse.com/algebra/matrix/images/matrix-multiplication/how-to-multiply-2-matrices-demo.gif)

In [151]:
climate_data

array([[ 73,  67,  43],
       [ 91,  88,  64],
       [102,  43,  37],
       [ 69,  96,  70]])

In [152]:
weights

array([0.3, 0.2, 0.5])

In [153]:
np.matmul(climate_data , weights)

array([56.8, 76.9, 57.7, 74.9])

In [154]:
climate_data @ weights

array([56.8, 76.9, 57.7, 74.9])

## working with csv data files 

#### Numpy also provides helper function reading from and writting to files.Let's download a file climate.txt which contains 10,000 climate data (temprature , rainfall and humidity ) in the following format:

#### temprature , rainfall, humidity

In [155]:
import urllib.request

urllib.request.urlretrieve(
     'https://hub.jovian.ml/wp-content/uploads/2020/08/climate.csv',
     'climate.txt')

('climate.txt', <http.client.HTTPMessage at 0x2ee06bdffd0>)

In [156]:
climate_data = np.genfromtxt("climate.txt", delimiter=',' , skip_header=1)

In [157]:
climate_data

array([[25., 76., 99.],
       [39., 65., 70.],
       [59., 45., 77.],
       ...,
       [99., 62., 58.],
       [70., 71., 91.],
       [92., 39., 76.]])

In [158]:
climate_data.shape

(10000, 3)

In [159]:
weights = np.array([0.3,0.2,0.5])

In [160]:
yields = climate_data @ weights

In [161]:
yields

array([72.2, 59.7, 65.2, ..., 71.1, 80.7, 73.4])

In [162]:
yields.shape

(10000,)

#### We can add the yields back to climate_data as a fourth column  using the np.concatenate function.

In [177]:
climate_results = np.concatenate((climate_data,yields.reshape(10000,1)), axis=1)

In [178]:
climate_results

array([[25. , 76. , 99. , 72.2],
       [39. , 65. , 70. , 59.7],
       [59. , 45. , 77. , 65.2],
       ...,
       [99. , 62. , 58. , 71.1],
       [70. , 71. , 91. , 80.7],
       [92. , 39. , 76. , 73.4]])

#### Visual representaton of np.concatenate along axis=1 (can you guess what axis=0 result in ):
![np.concatenate](https://www.w3resource.com/w3r_images/numpy-manipulation-concatenate-function-image-a.png)

In [179]:
climate_results

array([[25. , 76. , 99. , 72.2],
       [39. , 65. , 70. , 59.7],
       [59. , 45. , 77. , 65.2],
       ...,
       [99. , 62. , 58. , 71.1],
       [70. , 71. , 91. , 80.7],
       [92. , 39. , 76. , 73.4]])

In [184]:
np.savetxt("climate_result.txt",
          climate_results,
          fmt="%.2f",
          header="temprature,rainfall,humidity,yield_apples",
          comments="")

#### Numpy provides hundreds of functions for performing operation on arrays.Here are some common function:

##### mathematics: np.sum, np.exp, np.round,------> arithematic operators
##### Array manipulation: np.reshape , np.stack , np.concatenate,np.split
##### Linear Algebra: np.matnul , np.dot , np.transpose , np.eigvals
##### statistics: np.mean , np.median , np.std , np.max

#### arithmetic operation and brodcasting 

##### Numpy arrays supports arithmatic operation like + ,-, * etc .You can perform an arithmatic operation with a single number (also called scaler), or with another array of the same shape. This makes it really easy to write mathemtical expression wiith multi-dimensional arrays.

In [185]:
arr2 = np.array([[1,2,3,4],
               [5,6,7,8],
               [9,1,2,3]])

In [186]:
arr3 = np.array([[11,12,13,14],
                [15,16,17,18],
                [19,11,12,13]])

In [187]:
# Adding a scalar
arr2 + 3

array([[ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12,  4,  5,  6]])

In [188]:
# Element-wise subtraction
arr3 - arr2

array([[10, 10, 10, 10],
       [10, 10, 10, 10],
       [10, 10, 10, 10]])

In [189]:
arr2 + arr3

array([[12, 14, 16, 18],
       [20, 22, 24, 26],
       [28, 12, 14, 16]])

In [190]:
arr2 / 2

array([[0.5, 1. , 1.5, 2. ],
       [2.5, 3. , 3.5, 4. ],
       [4.5, 0.5, 1. , 1.5]])

In [191]:
arr2 * arr3

array([[ 11,  24,  39,  56],
       [ 75,  96, 119, 144],
       [171,  11,  24,  39]])

In [193]:
# Modulus with scalar
arr2 % 4

array([[1, 2, 3, 0],
       [1, 2, 3, 0],
       [1, 1, 2, 3]], dtype=int32)

#### Numpy arrays also support brodcasting, which allows arithmetics operation between two array having a different numbers of dimentions, but compatibility shapes. lets look at an example to see how it works.

In [194]:
arr2 = np.array([[1,2,3,4],
                [5,6,7,8],
                [9,1,2,3]])

In [195]:
arr2.shape

(3, 4)

In [197]:
arr4 = np.array([4,5,6,7])

In [200]:
arr4_replicated = np.array([[4,5,6,7],
                           [4,5,6,7],
                           [4,5,6,7]])

In [202]:
arr2 + arr4_replicated

array([[ 5,  7,  9, 11],
       [ 9, 11, 13, 15],
       [13,  6,  8, 10]])

In [201]:
arr4.shape

(4,)

In [198]:
arr4.shape

(4,)

In [199]:
arr2 + arr4

array([[ 5,  7,  9, 11],
       [ 9, 11, 13, 15],
       [13,  6,  8, 10]])

#### addition of matrix

![matrix_addition](https://team-mayes.github.io/che_696/html/_images/lect13_broadcasting.png)


##### brodcasting only works if one of the arrays can be replicateed to exactly match the shape of the other array.

In [203]:
arr5 = np.array([7,8])

In [204]:
arr5.shape

(2,)

In [205]:
arr2 + arr5

ValueError: operands could not be broadcast together with shapes (3,4) (2,)

#### in that example,even if arr5 is replicated 3 times, it will not match the shape of arr2 , hence arr2 + arr5 cannot be evaluated sucessfully.Learn more about brodcasting here:


##### Nuumpy arrays also support comparision operation == , !=,  > etc. The result is an array of booleans .

In [207]:
arr1 = np.array([[1,2,3], [3,4,5]])
arr2 = np.array([[2,2,3], [1,2,5]])

In [208]:
arr1 == arr2

array([[False,  True,  True],
       [False, False,  True]])

In [209]:
arr1 != arr2

array([[ True, False, False],
       [ True,  True, False]])

In [210]:
arr1 >= arr2

array([[False,  True,  True],
       [ True,  True,  True]])

In [211]:
arr1 < arr2

array([[ True, False, False],
       [False, False, False]])

#### A common use case for this to count the number of equal elements in two arrays using the sum method. Remember that True evaluate to 1 and False evaluate to 0 when boolean are used in arithmetic operations.

In [212]:
 (arr1 == arr2).sum( )

3

### Array indexing and slicing 

#### Numpy extends Python's list indexing notation using [   ] to multiple dimensions in a fairly intuitive fashion. You can provide a comma separated list of indices or ranges to select a specific element or a subarray (also called silce) from a numpy array.

In [213]:
arr3 = np.array([
    [[11,12,13,14],
    [13,14,15,19]],
    
    [[15,16,17,21],
    [63,92,36,18]],
    
    [[98,32,81,23],
    [17,18,19.5,43]]

])

In [214]:
arr3.shape

(3, 2, 4)

In [215]:
# single element 
arr3[1,1,2]

36.0

In [218]:
# subarray using ranges 

arr3[ 1: ,0:1 , :2]

array([[[15., 16.]],

       [[98., 32.]]])

In [219]:
arr3[1: , 1 , :3]

array([[63. , 92. , 36. ],
       [17. , 18. , 19.5]])

In [220]:
# mixing indices and ranges
arr3[1:,1,3]

array([18., 43.])

In [221]:
# Using fewer indices 
arr3[1]

array([[15., 16., 17., 21.],
       [63., 92., 36., 18.]])

In [222]:
# Using fewer indices 
arr3[:2 ,1]

array([[13., 14., 15., 19.],
       [63., 92., 36., 18.]])

In [223]:
# using to many indices 
arr3[1,3,2,1]

IndexError: too many indices for array: array is 3-dimensional, but 4 were indexed

#### Other ways of creating numpy arrays


#### Numpy also provides some handy functions to create arrays of a desired shape with fixed or random values. check the out the official documentation or use the help function to learn more.

In [224]:
# all zeros 
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [226]:
# all ones
np.ones([2,2,3])

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [227]:
# Identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [232]:
np.random.randn(2,3)

array([[-0.37341206,  1.06893915, -0.45047971],
       [ 1.74971113,  0.9370275 , -1.57216278]])

In [234]:
# random matrix
np.random.rand(5) # rand vs . randn -what's the difference?

array([0.3539797 , 0.5398626 , 0.2726748 , 0.20738039, 0.56522646])

In [235]:
# Fixed value
np.full([2,3], 42)

array([[42, 42, 42],
       [42, 42, 42]])

In [237]:
# Range with start, end and step
np.arange(10,90,3)

array([10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58,
       61, 64, 67, 70, 73, 76, 79, 82, 85, 88])

In [238]:
# Equally spaced numbers in a range
np.linspace(3,27,9)

array([ 3.,  6.,  9., 12., 15., 18., 21., 24., 27.])

In [239]:
# list of function explained 
function1 = np.concatenate  #(change this)
function2 = np.max
function3 = np.mean
function5 = np.median

### Function 1 -np.concatenate(change this)

#### Add some explanation about the function in your own words

In [ ]:
# Example 1