In [3]:
my_favorite_number = 1
my_least_favorite_number = 5
a_neutral_number = 3

# combination of operators(and condition)

a       |   b          |   a and b
-----------------------------------
True   |  True     |   True
True   |  False    |   False
False  |  True     |   Flase
True   |  Flase    |   Flase
Flase  |  Flase    |   Flase

## or condition
a       |   b          |   a or b
-----------------------------------
True   |  True     |   True
True   |  False    |   True
False  |  True     |   True
True   |  Flase    |   True
Flase  |  Flase    |   Flase

## not operation returns False if a condition is True and True if the condition is False

In [4]:
not a_neutral_number == 3

False

In [5]:
not my_favorite_number < 0

True

In [6]:
not False

True

In [7]:
not True

False

In [8]:
my_favorite_color = "blue"

In [9]:
my_favorite_color

'blue'

In [10]:
color1 ,color2,color3, = "red" , "green", "blue"

In [11]:
color1

'red'

In [12]:
counter = 10

In [13]:
counter += 4
#same as counter = counter + 4

In [14]:
counter

14

## variable
variable cannot start with number  
can contantain numbers after
*  no -

In [15]:
#example
a_variable = 23
is_today_saturday = False
_the_3_muaketeers = ["athos", "porthos" ,"aramis"]

# buit-in data types in python

Any data information stored within a python variables has a "type".the type of data stored in variable can be checked using the type function

In [16]:
type(a_variable)

int

In [17]:
type(is_today_saturday)

bool

In [18]:
type(_the_3_muaketeers)

list

commonly used data types:
1.integer
2.Float
3.Boolean
4.None
5.string
6.List
7.Tuple
8.Dictionary


tuple and dictionary are called data structure becasuse they contain multiple piecesd pieces of data togather.

In [19]:
#integer
current_year  = 2021

In [20]:
type(current_year)

int

## Float 
numbers with decimals

In [21]:
pi = 3.141592653589793238

In [22]:
type(pi)

float

floating point numbers can also be written using
## scientific notation 'e' indicates the power of 10

In [23]:
one_hunderedth = 1e-2

In [24]:
type(one_hunderedth)

float

While performing arihmathically convert to floats if any of the operandsis a float. Also , the division operator / always returns a float. even if both operands are integers. use the // operator if you want result of division to be an int

In [25]:
type(45 * 3.0 )

float

In [26]:
type(45 * 3)

int

In [27]:
type(10/3)

float

In [28]:
type(10/2)

float

In [29]:
type(10//2)

int

## Boolean

booleans represent one of  2 values: True or False. Boolean have the type bool.

In [30]:
is_today_sunday = True

In [31]:
is_today_sunday

True

In [32]:
type(is_today_sunday)

bool

## boolean are generally returned as the result of a comparsion operation(e.g == ,>= etc)

In [33]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [34]:
is_ice_bag_expensive

False

In [35]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to int when used in arithmathic operation. True is converted to 1 and False is converted to 0

In [36]:
5 + False

5

In [37]:
3 + True

4

## Any value in python can be converted to a boolean using the bool function only the following values evaluate to False(falsy values)

1. The value False itself
2. The integer 0
3. The float 0.0 
4. The empty value None
5. The empty text ""
6. The empty list []
7. The empty tuple()
8. The empty dictionary {}
9. The empty set set()
10. The empty range(0)

Everything else evaluate to True (a value evalutes to true is often called a truly value)

In [38]:
bool(False)

False

In [39]:
bool(0)

False

In [40]:
bool(0.0)

False

In [41]:
bool(None)

False

In [42]:
bool("")

False

In [43]:
bool([])

False

In [44]:
bool(())

False

In [45]:
bool({})

False

In [46]:
bool(set())

False

In [47]:
bool(range(0))

False

## None

### The None type includes a single value None , used to indicate the absence of a value None has the type NoneType . It is used to declare a variable whose value may be assigned later .

In [48]:
nothing = None

In [49]:
type(nothing)

NoneType

## String
A string is used to represent text 


"Text"

string has the type strimg 
str

In [50]:
today = "Saturday"

In [51]:
type(today)

str

In [52]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [53]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [54]:
my_favorite_pun ='thanks for explaining the word"many" to me, it means a'

In [55]:
my_favorite_pun

'thanks for explaining the word"many" to me, it means a'

### To use the double quote within double quotes, escape the inner quotes by pefixing them with the \ character.

In [56]:
another_pun = "The first time I got a universal remote control, I thought "

In [57]:
another_pun

'The first time I got a universal remote control, I thought '

string created single , double quote must be in same line .To creat multiple string use three quotes 

''' or """ . line break are represented bt \n.

In [58]:
yet_another_pun = ''' son:dad, can you tell  me what a solar eclipse is? 
dad: no son. '''

In [59]:
yet_another_pun

' son:dad, can you tell  me what a solar eclipse is? \ndad: no son. '

In [60]:
print(yet_another_pun)

 son:dad, can you tell  me what a solar eclipse is?
dad: no son.

multiline strings are best display using the print function

In [61]:
a_music_pun = """Two Windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan.'"
"""

In [62]:
print(a_music_pun)

Two Windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan.'"

you can check the length of a string using len function

In [63]:
len(my_favorite_movie)

31

### note that special charcter like \n and escape character like \" count as a single character, even though they are written and something printed as 2 cahractes.

In [64]:
multiline_string = '''a
b'''
multiline_string

'a\nb'

In [65]:
len(multiline_string)

3

### A string can be converted into a list of characters using list function

In [66]:
list(multiline_string)

['a', '\n', 'b']

### string also support several list operation


### You can access individual characters within a string using the [ ] individual notation. note the character indices go from 0 to n-1 where n is length of string.

In [67]:
today = "saturday"

In [68]:
today[0]

's'

In [69]:
today[7]

'y'

### You can acess a part of a string using by providing a start:end range instead of a single index in [ ]

In [70]:
today[5:7]

'da'

### check whether a string contains text 

## use in operator

In [71]:
'day' in today

True

In [72]:
"sun" in today

False

### Two or more string can be joined or conected using the + operator 


### to creat space in between string characters use " "

In [73]:
full_name = "derek o"

In [74]:
greating = "hello"

In [75]:
greating + full_name

'helloderek o'

In [76]:
greating + " " + full_name + "!" #additional space

'hello derek o!'

built in methods 
### Methods: ###Methods are functions associated with data types and aree accessed using the . notation e.g. variable_name.method() or "a string ".method().Methods are powerful technique for associating common operations with values of specific data types.

## The .lower( ),  .upper( ) and .capitalize( ) methods are used to change the case of the characters.

In [77]:
today.lower()

'saturday'

In [78]:
"saturday".upper()

'SATURDAY'

In [79]:
"monday".capitalize() #changes first character to uppercase

'Monday'

In [80]:
another_day = today.replace("satur" , "wednes")

In [81]:
another_day

'wednesday'

In [82]:
print(today)

saturday

### Note new string is returned, original string is not modified

In [83]:
today

'saturday'

### The .split method can be used to split a string into a list of strings based using the character(s) provided.

In [84]:
"Sun ,Mon,Tue, Wed, Fri, Sat,".split(",")

['Sun ', 'Mon', 'Tue', ' Wed', ' Fri', ' Sat', '']

### The .strip method is used to remove whiespace  characters from the beginning and end of a string .

In [85]:
a_long_line = "     This is a long line with some space before, after,       and some in the middle..    "

In [86]:
a_long_line_stripped = a_long_line.strip()

In [87]:
a_long_line_stripped

'This is a long line with some space before, after,       and some in the middle..'

In [88]:
print(a_long_line_stripped)

This is a long line with some space before, after,       and some in the middle..

In [89]:
print(a_long_line)

     This is a long line with some space before, after,       and some in the middle..

### The .formet method ios used to combine values of other data types e.g. integers, floats booleans, lists etc. With strings it is often used to create output messages for display.

In [90]:
# Input variables 
cost_of_ice_bag =1.25
profit_margin =.2
numbers_of_bags = 500

# Tamplets for ouyput message 
output_tamplate = """If a grocery store sells ice bag at $ {} per bag,with a profit margin of {} %
then the total profit it makes by selling {} ice bag is ${}."""

print(output_tamplate)

If a grocery store sells ice bag at $ {} per bag,with a profit margin of {} %
then the total profit it makes by selling {} ice bag is ${}.

In [91]:
# Inserting value into string 
total_profit = cost_of_ice_bag * profit_margin * numbers_of_bags
output_message = output_tamplate.format(cost_of_ice_bag , profit_margin*100 , numbers_of_bags, total_profit)
print(output_message)

If a grocery store sells ice bag at $ 1.25 per bag,with a profit margin of 20.0 %
then the total profit it makes by selling 500 ice bag is $125.0.

In [92]:
"If a grocery store sells icebag ar $ " + str(cost_of_ice_bag) +  ", with a profit margin of " + str(profit_margin)

'If a grocery store sells icebag ar $ 1.25, with a profit margin of 0.2'

## In fact , The str can ne used to convert a value of any data types into a string.

In [93]:
str(23)

'23'

In [94]:
str(True)

'True'

In [95]:
the_3_musketeeerts = [ "Athos", "Porthos", "Aramis"]
str(the_3_musketeeerts)

"['Athos', 'Porthos', 'Aramis']"

### String also support the comparision opperation == and != for checking whether two strings are equal

In [96]:
first_name = "John"

In [97]:
first_name == "Doe"

False

In [98]:
first_name == "John"

True

In [99]:
first_name != "jane"

True

## list
### A list in python is an ordered collection of values of diff data types 


### List has a tyoe list.

### To create a list, enclose a list values in squared brackets [    and   ] . seperated by commas

In [100]:
fruits = ["apple", "banana", "cherry"]

In [101]:
fruits

['apple', 'banana', 'cherry']

In [102]:
type(fruits)

list

#### List containing values of  different data types,include another list.

In [103]:
a_list = [23, "hello", None, 3.14, fruits, 3<=5]

In [104]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [105]:
empty_list = []

In [106]:
empty_list

[]

#### To detemine the number of values in  a list, use the len function. in general, the len function can be used to determine the values in several other data types

In [107]:
len(fruits)

3

#### Acess the element of a list using the index of the element, starting from the index 0.

In [108]:
fruits[0]

'apple'

In [109]:
fruits[2]

'cherry'

#### If you try to access an index equal to or higher than the length of the list, python returns an IndexError

In [110]:
fruits[3]

IndexError: list index out of range

In [111]:
fruits[-1]

'cherry'

#### You can also access  a range of values from the, list The result is itself a list ,

In [112]:
a_list = [23, "hello", None, 3.14, fruits, 3<=5]

In [113]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [114]:
len(a_list)

6

In [115]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

### modifying list

#### adding another value to the list.

#### using append method

In [116]:
fruits.append('datees')

In [117]:
fruits

['apple', 'banana', 'cherry', 'datees']

In [118]:
fruits.insert(1 , "blueberry")

In [119]:
fruits

['apple', 'blueberry', 'banana', 'cherry', 'datees']

In [120]:
fruits.remove("blueberry")

In [121]:
fruits

['apple', 'banana', 'cherry', 'datees']

#### To remove an element from a specific index ,use the pop method .The method also returns the removed elements.

In [122]:
fruits.pop(1)

'banana'

#### if no index is provided,the pop method removes the last element of the list.

In [123]:
fruits.pop()

'datees'

In [124]:
fruits

['apple', 'cherry']

### You can test whether a list contains a vallue using the in operator

In [125]:
'pineapple' in fruits

False

In [126]:
'cherry' in fruits

True

### To combine two or more lists, use the + operator. This operation is also called concatenation.

In [127]:
fruits

['apple', 'cherry']

In [128]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava']  + ['dates', 'banabna']

In [129]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banabna']

In [130]:
more_fruits_copy = more_fruits.copy

In [131]:
more_fruits_copy

In [132]:
# Modify the copy 
more_fruits_copy.remove("apple")

AttributeError: 'builtin_function_or_method' object has no attribute 'remove'

In [133]:
#original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banabna']

## Tuple 

#### A tuple is an ordred colllection of value, similar to a list, however it is not possible to add, remove or modify value in a tuple. A tuple is created by enclosing values within parentheses ( and ) . seperated by commas.

any data structure that cannot be modified after creation is called immutable, You can think of tuples 

as immutable list.

In [134]:
fruits = ('apple', 'cherry', 'dates')

In [135]:
#to check no.of elements
len(fruits)

3

In [136]:
# get an element (positive index)
fruits[0]

'apple'

In [137]:
# get an element (negative index)
fruits[-2]

'cherry'

In [138]:
# Check if it contains an element
'dates' in fruits

True

In [139]:
# try to chance an element
fruits[0]  = "avocado"

TypeError: 'tuple' object does not support item assignment

### Tuple has two builtin methods : count and index

In [140]:
a_tuple = 23 ,  'hello', False , None, 23 , 37

In [141]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [142]:
?a_tuple.index

In [143]:
a_tuple.count

In [144]:
a_tuple.index

## Dictionary 

#### A dictionary is an unordered collection of iteams. Each item Stored in a dictionary has a key and value. Key are used to retrirvr  value from the dictionary. Dictionaries have the type dict.

#### Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing Key-value paires within curly brackers { and } .

In [145]:
personal = {
    'name': 'John doe',
    'sex' : 'Male',
    'Age': 32,
    'Married': True
    
}

In [146]:
personal

{'name': 'John doe', 'sex': 'Male', 'Age': 32, 'Married': True}

#### Dictionaries can also be created using the dict function.

In [147]:
person2 = dict(name ='Jane Judy', sex = "Female" , age=26, married = False)

In [148]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 26, 'married': False}

In [149]:
type(personal)

dict

#### Keys can be used to access values using square brackets [  and  ]

In [150]:
personal['name']

'John doe'

In [151]:
personal['Married']

True

In [152]:
person2['name']

'Jane Judy'

#### If key isn't present in the dictionary, then KeyError is returned.

In [153]:
personal["address"]

KeyError: 'address'

#### The get method can also be used to acccess the value associated with a key.

In [154]:
person2.get("name")

'Jane Judy'

### The get method also accepts a default value which is returned if the key is not present in dictionary.

In [155]:
person2.get("address" , "Unknown")

'Unknown'

You can check whether a key is present in a dictionary using the in operator.

In [156]:
"name" in personal

True

In [157]:
'address' in personal

False

#### you can change the value assocaited with a key using the assignment operator

In [158]:
person2["married"]

False

In [159]:
person2["married"] = True

In [160]:
person2["married"]

True

#### The assignment operator can also be used to add new key-value pairs to dicknary.

In [161]:
personal

{'name': 'John doe', 'sex': 'Male', 'Age': 32, 'Married': True}

In [162]:
personal["address"] = "1, Penny Lane"

In [163]:
personal

{'name': 'John doe',
 'sex': 'Male',
 'Age': 32,
 'Married': True,
 'address': '1, Penny Lane'}

#### To remove a key and the associated value from a dictionary, use the pop method.

In [164]:
personal.pop("address")

'1, Penny Lane'

In [165]:
personal

{'name': 'John doe', 'sex': 'Male', 'Age': 32, 'Married': True}

#### Dictionaries also provide methods to view the list of Keys, values or key-value pairs inside it.

In [166]:
personal.keys()

dict_keys(['name', 'sex', 'Age', 'Married'])

In [167]:
personal.values()

dict_values(['John doe', 'Male', 32, True])

In [168]:
personal.items()

dict_items([('name', 'John doe'), ('sex', 'Male'), ('Age', 32), ('Married', True)])

In [169]:
personal.items()[1]

TypeError: 'dict_items' object is not subscriptable